@model EmployeeTimeTrackingSystem.Models.LoginViewModel
@{
    ViewBag.Title = "User Login";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="~/Content/Styles/UserLoginStyle.css" />
<link rel="stylesheet" href="~/Content/Styles/NavbarStyle.css" />


<div class="custom-navbar">
    <a href="@Url.Action("Index", "Home")" class="brand">ETTS</a>
    <span class="subtitle">Employee Time Tracking System</span>
</div>

<div class="login-card-container">
    <div class="login-card">
        <h2>Log in to your account</h2>
        @using (Html.BeginForm("UserLogin", "UserManagement", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="login-form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "login-input", placeholder = "Type your username" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "login-error" })
            </div>
            <div class="login-form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "login-input", placeholder = "Type your password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "login-error" })
            </div>
            <div class="login-form-group">
                <input type="submit" value="Login" class="login-btn" />
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    function enableLiveValidation(selector) {
        $(selector).on('input', function () {
            $(this).valid();
        });
    }

    $(document).ready(function () {
        enableLiveValidation('.login-input');
    });
</script>